{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
<h1 class="text-center"> Regístrate</h1>
<form method="post">
    <label for="username" class="form-label">Nombre de Usuario</label>
    <input type="text" name="username" id="username"
           placeholder="Tu Nombre de Usuario"
           value="{{ request.form['username'] }}"
           class="form-control">

    <label for="email" class="form-label">Ingresa tu correo</label>
    <input type="text" name="email" id="email"
           placeholder="Escribe tu email"
           value="{{ request.form['email'] }}"
           class="form-control">

    <label for="password" class="form-label">Escribe tu contraseña</label>
    <input type="password" name="password" id="password"
            placeholder="Tu contraseña"
            value="{{ request.form['password'] }}"
            class="form-control">

    <label for="password_confirm" class="form-label">confirma tu contraseña</label>
    <input type="password" name="password_confirm" id="password_confirm"
            placeholder="confirma tu contraseña"
            value="{{ request.form['password_confirm'] }}"
            class="form-control">
                            
    <button type="submit" class="btn btn-primary mt-3">Enviar formulario</button>
</form>
{% endblock %}    