{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
<h1> Actualiza el mensaje</h1>
<form method="post">
    <label for="title">Titulo</label>
    <br>
    <input type="text" name="title" id="title"
           placeholder="Titulo del mensaje"
           value="{{ message.title }}"></input>
    <br>

    <label for="picture">Foto</label>
    <br>
    <input type="text" name="picture" id="picture"
           placeholder="agrega tu foto"
           value="{{ message.pciture }}"></input>
    <br>

    <label for="content">Contenido del mensaje</label>
    <br>
    <textarea name="content" id="content"
              placeholder="Contenido del mensaje"
              rows="15"
              cols="60"
              >{{ message.content }}</textarea>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}    