{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
<h1 class="text-center">Actualiza el Producto</h1>
<form method="post">
    <label for="títle" class="form-label">Nombre</label>
    <br>
    <input type="text" name="title" id="title"
           placeholder="Nombre del Producto "
           value="{{ message.title }}" class="form-control"></input>
    <label for="picture" class="form-label">Foto</label>
    <br>
    <input type="text" name="picture" id="picture"
           placeholder="Agrega tu Foto "
           value="{{ message.picture }}" class="form-control"></input>     
    <label for="content" class="form-label">Descripción del Producto</label>
    <textarea name="content" id="content"
              placeholder="Descripción"
              rows="15"
              cols="60"
              class="form-control"
              >{{ message.content }}</textarea>
    <label for="price">Precio</label>  
    <input type="text"
           name="price" id="price" 
           value="{{ message.price }}">


    <label for="link">Link de Pago</label>  
    <input type="text" name="link" id="link" value="{{ message.link }}">
               
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}   